@use "@styles/abstracts" as *;

.container {
  max-width: 500px;
  min-height: 100vh;
  padding: 0 12px;

  // to absolute the footer
  position: relative;

  &-dark {
    background-color: $black;
    color: $white;
  }

  h1 {
    padding-top: 12vh;
    line-height: 1.1;
  }
}

@media (min-width: $tablet) {
  .container {
    margin: 0 20px;
    max-width: 900px;

    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
  }
}

@media (min-width: $desktop) {
  .container {
    margin: 0 auto;
  }
}
