@use "@styles/abstracts" as *;

.container {
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 12px;

  // to absolute the footer
  position: relative;

  h1 {
    padding-top: 12vh;
    line-height: 1.1;
  }
}

@media (min-width: $tablet) {
  .container,
  .nav {
    max-width: 650px;
  }
}

@media (min-width: $desktop) {
  .container,
  .nav {
    max-width: 850px;
  }
}
