// m for mobile, d for desktop

// color
$black: #101112;
$white: #f7f8f8;
$orange: #db573e;
$error: rgb(149, 17, 17);
$gradient: linear-gradient(115.71deg, #101112 1.37%, #f7f8f8 100%);

// screen sizes - width
$tablet: 480px;
$desktop: 768px;

// font sizes
$paragraph-small: 1.4rem;
$paragraph: 1.8rem;
$paragraph-big: 2rem;
$h3: 2.4rem;
$h2: 3.2rem;
$h1: 4.8rem;
$h0: 5.6rem;
