.profile {
  min-height: 100vh;
  background-color: $black;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-block: 3em;

    .img-container {
      display: block;

      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid $orange;

      overflow: hidden;

      img {
        margin-top: -15px;
      }
    }

    h2 {
      color: $orange;
      font-size: $h2;
    }

    p {
      font-weight: 200;
      font-size: $paragraph-small;
    }
  }

  &-tag-line {
    margin-block: 3em;
  }
}
