.dark {
  .projects-image-container {
    background-color: $white;

    .icon {
      color: $black;
      background-color: $white;
    }
  }
}

.projects {
  &-title {
    margin-block: 4rem 2rem;

    font-family: "Roboto Mono", monospace;
    font-size: 1.6rem;
    font-weight: 300;

    text-wrap: nowrap;
  }

  &-image-container {
    border-radius: 8px;
    overflow: hidden;
    height: 180px;
    position: relative;
    background-color: $black;

    .icon {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $white;
      background-color: $black;
      font-size: $h3;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; // or 'contain'
      object-position: center;
      display: block;
    }
  }

  h3 {
    color: $orange;
    padding-top: 1rem;
    font-size: $paragraph-big;
  }

  &-tech-stack {
    display: flex;
    gap: 6px;

    p {
      font-size: 12px;
      border-radius: 32px;
      background-color: $orange;
      padding: 0.3rem 0.7rem;
      font-weight: 700;
    }
  }

  p {
    font-size: $paragraph-small;
  }
}

.projects-sliding-container {
  position: relative;
  // hard coded height for positions of pagination
  height: 500px;

  .project {
    position: absolute;
    top: 0;
  }
}

.dots {
  display: flex;
  justify-content: space-around;
  gap: 6px;
  padding-block: 1em;

  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $orange;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .dot-highlight {
      position: absolute;
      width: 40px;
      height: 40px;
      top: -10px;
      left: -10px;
      border: 1px solid $orange;
      border-radius: 50%;
      padding: 1em;
    }
  }
}

@media (min-width: $desktop) {
  .project {
    h2 {
      font-weight: normal;
      grid-column: 7 / span 2;
      margin: 0;
    }

    p {
      grid-column: 7 / span 6;
      padding-bottom: 2em;
    }

    &-img-container {
      grid-row: 1;
      grid-column: 3 / span 8;

      position: relative;
      img:nth-child(1) {
        height: 260px;
        width: 100%;
        background-color: $gradient;
      }

      img:nth-child(2) {
        position: absolute;
        top: 120px;
        left: 2vw;
        margin: 0 auto;
        display: block;
        height: 280px;
        width: 140px;
        max-width: 200px;
        border-radius: 12px;
        background-color: $gradient;
      }
    }

    &-btn-contact {
      grid-column: 3 / span 4;
    }
    &-btn-project {
      grid-column: 7 / span 4;
    }
  }
}
