.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: $orange;
  color: $white;

  .footer__inner {
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  // override specificity when inside another class
  .footer-heading {
    color: $white;
  }

  .icons {
    display: flex;
    gap: 0.3em;
    font-size: $h2;
  }
}

@media screen and (min-width: $tablet) {
  .footer {
    width: 100vw; /* full viewport width */
    left: calc(-50vw + 50%);

    .footer__inner {
      max-width: 650px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop) {
  .footer {
    .footer__inner {
      max-width: 850px;
    }
  }
}
