.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $orange;
  color: $white;

  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  // override specificity when inside another class
  .footer-heading {
    color: $white;
  }

  .icons {
    display: flex;
    gap: 6px;
    font-size: $h2;
  }
}
