@use "variables" as *;
@use "mixins" as mix;

.about {
  color: $white;

  p {
    font-size: 1.4rem;
  }

  button {
    @include mix.button();
  }
}

@media (min-width: 375px) and (min-height: 800px) {
  .about {
    p {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: $desktop) {
  .about {
    p {
      font-size: 1.8rem;
    }
  }
}
