@use "variables" as *;
@use "mixins" as mix;

%heading-animation-start {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  border-radius: 4px;

  position: absolute;
  bottom: -6px;
  left: 50%;

  transition: 0.3s;
}

%heading-hover-animation {
  width: 100%;
  left: 0;
}

.home {
  &-title {
    @include mix.heading($h3);
    white-space: wrap;
    position: relative;
    margin: 0 5px;
  }

  &__h1 {
    text-align: right;
    width: 8ch;
    grid-column: 2 / span 2;
    justify-self: end;
    top: -100%;

    &::after {
      @extend %heading-animation-start;
      background-color: $white;
    }
  }

  &__h2 {
    // margin-top: 500px;
    grid-column: 4 / span 2;
    justify-self: start;
    color: $black;
    width: 9ch;
    top: -50%;

    &::after {
      @extend %heading-animation-start;
      background-color: $black;
    }

    a {
      vertical-align: bottom;
    }
  }
}

.home__h1:hover.home__h1::after,
.home__h2:hover.home__h2::after {
  @extend %heading-hover-animation;
}

@media (min-width: $desktop) {
  .home {
    &-title {
      @include mix.heading($h2);
      white-space: nowrap;
    }

    &__h1 {
      width: fit-content;
      grid-column: 1 / span 6;
      justify-self: center;
      top: -50%;
    }

    &__h2 {
      width: fit-content;
      grid-column: 7 / span 6;
      justify-self: center;
      top: -50%;
    }
  }
}
