@use "variables" as *;

@mixin button {
  background-color: inherit;
  border: none;
  padding: 0.4em 1em;
  font-size: 1.8rem;
  color: rgba($white, 0.6);
  transition: all 0.2s ease;

  &:hover {
    color: $white;
    box-shadow: 0 0 8px $white;
    cursor: pointer;
  }
}
