@use "variables" as *;

@mixin button {
  background-color: inherit;
  border: none;
  padding: 0.4em 1em;
  font-size: $m-paragraph;
  color: rgba($white, 0.6);
  transition: all 0.2s ease;

  &:hover {
    color: $white;
    box-shadow: 0 0 8px $white;
    cursor: pointer;
  }

  @media (min-width: $desktop) {
    font-size: $d-paragraph;
  }
}

@mixin heading($size: 32px) {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: $size;
  letter-spacing: 0.1em;
}
