@use "variables" as *;

@mixin button($color: $white) {
  background-color: inherit;
  border: 1px solid rgba($color, 0.6);
  padding: 0.4em 1em;
  width: 162px;
  align-self: center;
  height: fit-content;
  font-size: $m-paragraph;
  color: rgba($color, 0.6);
  transition: all 0.2s ease;

  &:hover {
    color: $color;
    box-shadow: 0 0 8px $color;
    cursor: pointer;
  }

  &:visited {
    color: $color;
  }

  @media (min-width: $desktop) {
    font-size: $d-paragraph;
    width: 173px;
    border: none;
  }
}

@mixin heading($size: 32px) {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: $size;
  letter-spacing: 0.1em;
  margin-bottom: 0.8em;
}
