@use "variables" as *;
@use "mixins" as mix;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  line-height: 1.49;
  background-color: $white;
  color: $black;
  width: 100vw;
  height: 100vh;
}

h1 {
  @include mix.heading($h3);
}
h2 {
  @include mix.heading($h3);
}

button {
  @include mix.button();
}

@media (min-width: $desktop) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    @include mix.heading($h1);
  }
  h2 {
    @include mix.heading($h2);
  }

  ::-webkit-scrollbar {
    width: 1px;
  }
}
