@use "variables" as *;

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.link--dark {
  color: $black;
  text-decoration: none;
}

.link--light {
  color: $white;
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
