// m for mobile, d for desktop

// color
$black: #101112;
$white: #f7f8f8;
$grey: #686e6d;

// screen sizes
$desktop: 769px;

// font sizes
$m-paragraph: 16px;
$d-paragraph: 20px;
$h3: 24px;
$h2: 32px;
$h1: 48px;
