@use "reset";
@use "layout";

// pages
@use "homepage";
@use "about";
@use "projects";
@use "contact";

@use "nav";

@use "utilities";
@use "screen";

// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Mono:wght@400;600&display=swap");
