@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
  background: #1d1d1d;
  background: linear-gradient(90deg, #1d1d1d 0%, #333333 50%, #1d1d1d 100%);
  margin-bottom: 5rem;
}

.full-page {
  height: 100vh;
  width: 100%;
  position: relative;
}

.logo {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 100;
}
.logo-part-one {
  width: 2px;
  height: 30px;
  background-color: #212121;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.logo-part-two {
  width: 0.2rem;
  height: 20px;
  background-color: #212121;
  position: absolute;
  top: 54%;
  left: 54%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.logo-part-three {
  width: 28px;
  height: 15px;
  position: absolute;
  top: 60%;
  left: 47%;
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: transparent;
  border-top-left-radius: 30%;
  border-top-right-radius: 70%;
  border: 2px solid #212121;
  border-bottom: 0;
}

.navbar {
  background-color: #fefefe;
  position: relative;
  z-index: 10;
}

.navbar-links {
  display: block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #24ebd7;
  border: 1px solid #24ebd7;
}
@media (min-width: 768px) {
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    visibility: visible;
    position: relative;
    background-color: inherit;
    border: none;
    padding-right: 1rem;
  }
}

.navbar-link-items {
  font-size: 1.6rem;
  padding: 1rem;
}
.navbar-link-items a {
  color: #212121;
}
@media (min-width: 768px) {
  .navbar-link-items {
    padding: 1rem 2rem;
    margin: 0 0.5rem;
  }
}

.navbar:hover .logo-part-three {
  transition: all 0.3s ease-in-out;
  width: 2px;
  height: 20px;
  top: 54%;
  left: 25%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
  border-bottom: none;
  background-color: #212121;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 768px) {
  .navbar:hover .logo-part-three {
    width: 28px;
    height: 15px;
    position: absolute;
    top: 60%;
    left: 47%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: transparent;
    border-top-left-radius: 30%;
    border-top-right-radius: 70%;
    border: 2px solid #212121;
    border-bottom: 0;
  }
}

.navbar:hover .navbar-links {
  transition: all 0.6s ease-in-out;
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.navbar-link-items:hover {
  background-color: #1cbdad;
  transition: all 0.2s ease-in;
}
.navbar-link-items:hover a {
  color: #212121;
}
@media (min-width: 768px) {
  .navbar-link-items:hover a {
    color: #212121;
  }
}
@media (min-width: 768px) {
  .navbar-link-items:hover {
    background-color: inherit;
    border-bottom: 2px groove #24ebd7;
  }
}

@media (min-width: 768px) {
  .subnav {
    display: flex;
    justify-content: space-around;
  }
}
.active {
  border-bottom: 2px groove #24ebd7;
  pointer-events: none;
}
.active a {
  opacity: 0.6;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #24ebd7;
  align-items: center;
}
footer p {
  color: #212121;
  opacity: 0.6;
  font-size: 2.6rem;
  padding: 0.5rem 1rem;
}
footer p:hover {
  opacity: 1;
}

.social-media {
  display: flex;
}
.social-media-icons > a {
  font-size: 2.6rem;
  color: #212121;
  opacity: 0.6;
  padding: 0.5rem 1rem;
}
.social-media-icons > a:hover {
  opacity: 1;
}

.welcome-container {
  position: absolute;
  z-index: 999;
  height: 100%;
  transform: translateY(-50px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  animation: disappear 5.4s;
  opacity: 0;
  visibility: hidden;
}
@keyframes disappear {
  0% {
    visibility: visible;
    opacity: 1;
  }
  95% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}
.welcome-container .logo-part-one {
  animation: move-down 5s;
}
@keyframes move-down {
  0% {
    margin: 5rem auto;
    transform: scale(10) translate(2000%, 100%) rotate(25deg);
  }
  10% {
    margin: 5rem auto;
    transform: scale(10) translate(2000%, 100%) rotate(25deg);
  }
  80% {
    transform: scale(10) translate(500%, 100%) rotate(0);
  }
  90% {
    transform: scale(10) translate(500%, 100%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.welcome-container .logo-part-two {
  animation: move-across 5s;
}
@keyframes move-across {
  0% {
    margin: 5rem auto;
    transform: scale(10) translate(1200%, 130%) rotate(0);
  }
  10% {
    margin: 5rem auto;
    transform: scale(10) translate(1200%, 130%) rotate(0);
  }
  60% {
    transform: scale(10) translate(810%, 185%) rotate(45deg);
  }
  90% {
    transform: scale(10) translate(810%, 185%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
.welcome-container .logo-part-three {
  animation: move-three 5s;
}
@keyframes move-three {
  0% {
    margin: 5rem auto;
    transform: scale(10) translate(1200%, 130%) rotate(0);
  }
  50% {
    transform: scale(10) translate(45%, 270%) rotate(90deg);
  }
  90% {
    transform: scale(10) translate(45%, 270%) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.heading-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
}

.display-1 {
  font-size: 4.8rem;
  border-bottom: 1px solid turquoise;
}
@media (min-width: 768px) {
  .display-1 {
    font-size: 5.6rem;
  }
}

.display-2 {
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
  text-align: right;
}
@media (min-width: 768px) {
  .display-2 {
    font-size: 4.8rem;
  }
}

.intro-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 750px;
  color: #24ebd7;
  font-style: italic;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.container-slider {
  position: absolute;
  width: 75%;
  max-width: 750px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-headings {
  font-size: 3.2rem;
  padding: 1rem 2rem;
}

.slider-qoutes {
  font-size: 2rem;
  font-style: italic;
  padding: 0.5rem 1rem;
}

.creative,
.clean,
.code {
  position: absolute;
}

.creative {
  animation: creative 22s infinite 5.5s;
  visibility: hidden;
  opacity: 0;
}

.clean {
  animation: clean 22s infinite 5.5s;
  visibility: hidden;
}

.code {
  animation: code 22s infinite 5.5s;
  visibility: hidden;
}

@keyframes creative {
  0% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
  5% {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
  28% {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
  33% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes clean {
  0% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
  33% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
  38% {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
  61% {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
  66% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes code {
  0% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
  66% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
  71% {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
  95% {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
  }
}
.about-container {
  width: 75%;
  max-width: 900px;
  margin: 3rem auto;
}
.about-header {
  font-size: 2.6rem;
  text-align: center;
}
@media (min-width: 768px) {
  .about-header {
    font-size: 3.2rem;
  }
}
.about-text {
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-style: italic;
  font-size: 2rem;
  opacity: 0.8;
}

.skills-container {
  position: relative;
  margin: 3rem auto;
}

.skills-heading {
  margin: 3rem auto;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 2.6rem;
}
@media (min-width: 768px) {
  .skills-heading {
    font-size: 3.2rem;
  }
}
.skills-language {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  margin-top: -0.9rem;
  text-align: center;
  font-size: 1.6rem;
  color: #24ebd7;
}

.skill-progress-container {
  display: inline-block;
  width: 100%;
  max-width: 750px;
}
@media (min-width: 768px) {
  .skill-progress-container {
    width: 49%;
  }
}

.progress-container {
  position: relative;
  margin: 2rem auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fefefe;
}
.progress-container:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #212121;
}
.progress-container:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #212121;
}

.progress-container.progress--0:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(90deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--5:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(108deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--10:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(126deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--15:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(144deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--20:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(162deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--25:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(180deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--30:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(198deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--35:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(216deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--40:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(234deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--45:after {
  background-image: linear-gradient(90deg, #fefefe 50%, transparent 50%, transparent), linear-gradient(252deg, #24ebd7 50%, #212121 50%, #fefefe);
}

.progress-container.progress--50:after {
  background-image: linear-gradient(-90deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--55:after {
  background-image: linear-gradient(-72deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--60:after {
  background-image: linear-gradient(-54deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--65:after {
  background-image: linear-gradient(-36deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--70:after {
  background-image: linear-gradient(-18deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--75:after {
  background-image: linear-gradient(0deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--80:after {
  background-image: linear-gradient(18deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--85:after {
  background-image: linear-gradient(36deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--90:after {
  background-image: linear-gradient(54deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--95:after {
  background-image: linear-gradient(72deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.progress-container.progress--100:after {
  background-image: linear-gradient(90deg, #24ebd7 50%, transparent 50%, transparent), linear-gradient(270deg, #24ebd7 50%, #212121 50%, #212121);
}

.projects {
  margin: 3rem auto;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  max-width: 900px;
}
.projects-heading {
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
}

.projects-container {
  margin: 1rem 0;
  width: 90%;
  position: relative;
}
.projects-container .projects-image-container {
  position: relative;
  height: 100px;
  transform: scaleY(0.9);
  overflow: hidden;
}
.projects-container .projects-image-container img {
  width: 100%;
}
.projects-container .projects-image-container .hidden {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  height: inherit;
  opacity: 0.8;
  visibility: visible;
  background-color: #fefefe;
}
.projects-container .projects-image-container .project-btn {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 20;
  width: 50%;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  background-color: #212121;
  border: 1px solid #24ebd7;
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
}
.projects-container .projects-image-container .project-btn a {
  color: #24ebd7;
}
.projects-container .projects-image-container:hover {
  transform: scale(1, 1.2);
  transition: all 0.4s ease-in-out;
  box-shadow: -10px 10px 5px #212121;
}
.projects-container .projects-image-container:hover .hidden {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.projects-container .projects-image-container:hover .project-btn {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}

.projects-container:nth-child(even) {
  align-self: flex-end;
  text-align: right;
}
.projects-container:nth-child(even) .projects-image-container:hover:nth-child(even) {
  transform: scale(1, 1.2);
  transition: all 0.4s ease-in-out;
  box-shadow: 10px 10px 5px #212121;
}

form {
  margin: 3rem auto;
  max-width: 900px;
  width: 90%;
}
form h3 {
  width: 75%;
  margin: 3rem auto;
  font-size: 3.2rem;
  text-align: center;
}

fieldset {
  padding: 0.5rem 1rem;
  margin: 3rem auto;
  border: none;
}
fieldset div {
  padding: 0.5rem 1rem;
}

label {
  display: block;
  margin: 0.25rem 0;
  font-size: 2rem;
}

input,
textarea {
  width: 100%;
  font-family: inherit;
  font-size: 2rem;
  color: #fefefe;
  outline: none;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #24ebd7;
  margin-bottom: 0.25rem;
  line-height: 2.4;
}

input[type=text],
input[type=email],
textarea[type=text] {
  color: #24ebd7;
}

.btn-container {
  width: 100%;
}

.btn-submit {
  background-color: #fefefe;
  color: #212121;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #24ebd7;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
}

.btn-submit:active {
  box-shadow: inset 0 0 5px #212121;
}

/*# sourceMappingURL=main.css.map */
